.list-item {display:inline-flex; margin: 3px;}

.fone {
  background: url("src/app/image/fone.jpg") no-repeat center fixed;
  min-width: 50%;
  min-height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
